/*
 * Стили для основного блока
 */

.central {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.central__content {
  display: flex;
  flex-direction: column;

  padding-top: 30px;
  min-height: 740px;
}

.intro.central--blur-start {
  position: absolute;
  top: 30px;
  left: calc(50% - 400px);
  animation: crossfade 1.5s linear;
  animation-fill-mode: forwards;
}

.central--blur-end {
  animation: crossfade 1.5s linear;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes crossfade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
